.new-help
  %h1
    WriteDown
    %br
    = image_tag 'writedown.png', :width => '100px', :class => 'writedown-icon'

  %h3
    is a
    = link_to 'Markdown', "https://help.github.com/articles/github-flavored-markdown"
    editor

  %p.content
    Click in the white area on the left and start typing.

  %h4.content Keyboard Shortcuts
  %table
    %tr
      %th ⌥⌘H
      %td Markdown Reference
    %tr
      %th ⌥⌘S
      %td Save
    %tr
      %th ⌃⌘N
      %td New
    %tr
      %th F1
      %td Show help

  %p.content
    A thing by
    = link_to '@lgarvey.', 'https://twitter.com/lgarvey'
    You probably want to use Chrome and a Mac.
