= form_for @article, :url => article_path do |f|
  %section#entry
    = f.text_area :markdown

  %section#display
    = render :partial => 'display_html'
  %section#actions
    = f.submit 'Convert'


