* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: absolute;
  width: 50%;
  bottom: 0;
}
#entry {
  left: 0;
  top: 0;
  overflow: scroll;
}
#display {
  overflow: scroll;
  right: 0;
  top: 0;
  background-color: #eee;
  padding: 10px;
}
#actions {
  bottom: 5px;
  z-index: 10;
  height: 30px;
  text-align: center;
}
#status{
  bottom: 5px;
  z-index: 10;
  right: 5px;
  width: 25%;
  height: 30px;
  text-align: right;
}
textarea, .fake-text-area {
  width: 100%;
  min-height: 100%;
  border: 0;
  outline: none;
  padding: 10px;
}

textarea {
  height: 100%;
}

p, pre {
  margin-top: 0;
  margin-bottom: 1.3em;
}
